@tailwind base;
@tailwind components;
@tailwind utilities;
 


  body::-webkit-scrollbar {
    display: none;
  }
  
  /* body {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
  }
   */
  
  .rt-IconButton:hover {
    background-color: transparent; 
    transform: scale(1.05); 
    box-shadow: 0 4px 12px rgba(34, 0, 224, 0.08); 
  }


  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  .DialogOverlay[data-state='open'],
  .DialogContent[data-state='open'] {
    animation: fadeIn 300ms ease-out;
  }
  
  .DialogOverlay[data-state='closed'],
  .DialogContent[data-state='closed'] {
    animation: fadeOut 300ms ease-in;
  }




/* Add this to your CSS file */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner {
  animation: spin 2s linear infinite;
}



