/* sidebar.css */

.sidebar-toggle {
    position: fixed;
    top: 4px;
    left: 36px;
    z-index: 50;
    transition: transform 0.3s;
  }
  
  .sidebar-toggle-open {
    transform: translateX(0);
    left: 60px;
  }
  
  .sidebar-toggle-closed {
    transform: translateX(-100%);
  }
  

  
  .sidebar-open {
    width: 175px;
  }
  
  .sidebar-closed {
    width: 0;
  }
  


  