/* sidebar.css */

.sidebar-toggle {
    position: fixed;
    top: 4px;
    left: 36px;
    z-index: 50;
    transition: transform 0.3s;
  }
  
  .sidebar-toggle-open {
    transform: translateX(0);
    left: 60px;
  }
  
  .sidebar-toggle-closed {
    transform: translateX(-100%);
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    background-color: #2C2F33;
    border-right: 1px solid #ccc;
  }
  
  .sidebar-open {
    width: 150px;
  }
  
  .sidebar-closed {
    width: 0;
  }
  
  .sidebar-content {
    padding: 16px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  .icon-button {
    margin-bottom: 16px;
    background-color: transparent;
    color: #ffffff;
  }
  

  